.content {padding-bottom:2rem;background-color: #fff;}
.content img {
	width: 100%;
}
.people-tv {
	width: 9.46rem;
	margin: 0 auto;
}
.people-tv h3 {
	font-size: .4rem;
	line-height: 1rem;
}
.people-con {
	width: 9.46rem;
	margin: 0 auto;
}
.people-con iframe {
	width: 9.46rem;
	height: 4rem;
}