.success {
	position: fixed;
	left: 50%;
	top: 30%;
	width: 7rem;
	height: 5rem;
	margin: -2.5rem 0 0 -3.5rem;
}
.success p {
	width: 3rem;
	height: 1rem;
	margin: 0 auto;
	padding-top: 2rem;
	font-size: .6rem;
	line-height: 1rem;
	text-align: center;
	background: url(../img/icon/yes.png) center 0 no-repeat;
	background-size: 80%;
	color: #48be43;
}
.suc-cho {
	width: 7rem;
	height: 1rem;
	padding-top: 1rem;
}
.suc-cho a {
	display: block;
	float: left;
	width: 3rem;
	height: 1rem;
	line-height: 1rem;
	font-size: .4rem;
	text-align: center;
	border-radius: .1rem;
}
a.c-back {
	color: #808080;
	border: 1px solid #ccc;
}
a.g-order {
	float: right;
	background: #48be43;
	color: #fff;
}