.content .cart-back {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 2rem;
}
.change-address {
	width: 9.2rem;
	padding: .5rem .4rem;
	background-color: #fff;
	margin-bottom: .5rem;
}
.now-add {
	float: left;
	width: 5rem;
	padding-left: .8rem;
	background: url(../img/icon/cart_add.png) 0 .2rem no-repeat;
	background-size: 8%;
}
.humen-s {
	width: 5rem;
	line-height: .5rem;
	font-size: .32rem;
}
#men-name {float: left;}
#men-num {float: right;}
.add_detail {
	width: 5rem;
	height: .5rem;
	line-height: .6rem;
	font-size: .32rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	color: #808080;
}
.choose-add {
	padding-left: .5rem;
	float: left;
}
.ch_address,.add_address {
	display: block;
	width: 2.6rem;
	height: .8rem;
	line-height: .8rem;
	font-size: .4rem;
	text-align: center;
	border: 1px solid #808080;
	border-radius: .1rem;
}
.cart,ul {
	width: 10rem;
	padding-bottom: 1.2rem;
}
.cart ul li {
	position: relative;
	width: 8.2rem;
	padding: .4rem .4rem .8rem 1.4rem;
	background-color: #fff;
	margin-bottom: 1px;
}
.cart-head {
	height: .7rem;
	padding-bottom: .5rem;
}
.cart-head .cart-name {
	float: left;
    width: 6rem;
	line-height: .7rem;
	font-size: .4rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cart-head .cart-price {
	float: right;
    width: 2.2rem;
	line-height: .7rem;
	font-size: .4rem;
	text-align: right;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fe0000;
}
.cart-body {
	width: 8.2rem;
}
.cart-photo {
	float: left;
	width: 2rem;
	height: 2rem;
	overflow: hidden;
}
.cart-photo img {
	width: 100%;
	height: auto;
}
.add-num {
	float: right;
    width: 3.5rem;
    height: 0.93rem;
    line-height: .93rem;
    font-size: .4rem;
    text-align: center;
}
.add-num span {
	float: left;
    width: 1rem;
    height: 0.93rem;
    background-color: #e6e6e6;
}
.add-num input {
	float: left;
    width: 1.4rem;
    height: 0.93rem;
    outline: none;
    border: none;
    text-align: center;
}
.delete {
	position: absolute;
	bottom: .8rem;
	right: .5rem;
	color: #ccc;
}
._check {
	position: absolute;
	left: .5rem;
	top: .58rem;
	width: .4rem;
	height: .4rem;
	border-radius: .5rem;
	background: url(../img/icon/window_nosel.png) 0 0 no-repeat;
	background-size: 100% auto;
}
.total-price {
	position: fixed;
	bottom: 1.2rem;
	left: 0;
	width: 10rem;
	height: 1rem;
	background-color: #fff;
}
.price {
	float: left;
	width: 7rem;
	height: 1rem;
}
p.total-choose {
	position: relative;
	float: left;
	width: 2rem;
	line-height: 1rem;
	padding-left: 1.4rem;
	font-size: .32rem;
}
.all-check {
	position: absolute;
	left: .5rem;
	top: .2rem;
	width: .5rem;
	height: .5rem;
	background: url(../img/icon/window_nosel.png) 0 0 no-repeat;
	background-size: 100% auto;
}
p.all-pay {
	// display: none;
	float: left;
	width: 3.3rem;
	padding-right: .2rem;
	line-height: 1rem;
	text-align: right;
	font-size: .32rem;
}
.total-cost {color: #fe0000;}
.total-price a {
	float: left;
	width: 3rem;
	height: 1rem;
	line-height: 1rem;
	display: block;
	text-align: center;
	font-size: .4rem;
	background-color: #FA8D0C; 
	color: #fff;
}
.active {
	background: url(../img/icon/window_sel.png) 0 0 no-repeat;
	background-size: 100% auto;
}

.address-c{
	width: 10rem;
	background-color: #fff;
}
.address-head {
	width: 9rem;
	margin: 0 auto;
	height: .6rem;
	padding: .6rem;
	border-bottom: 1px solid #f2f2f2;
}
.address-head span {
	float: left;
	display: block;
	width: 2rem;
	height: .6rem;
	margin-right: .5rem;
	font-size: .32rem;
	text-align: center;
	line-height: .6rem;
	border: 1px solid #808080;
	border-radius: .053rem;
}
.address-head .close {margin-right: 0;}
.address-head .add-choose {
	color: #fff;
	background-color: #FA8D0C;
	 border: 1px solid #FA8D0C;
}
.address-head .close {
	border: none;
	width: .6rem;
	height: .6rem;
	float: right;
	background: url(../img/icon/window_close.png) center center no-repeat;
	background-size: 100%;
	
}
.address-c ul,.new-address {
	width: 9rem;
	height: 10rem;
	padding: 0 .5rem .5rem;
	margin-bottom: .5rem;
	overflow-y: auto;
}

.new-address li {
	height: 1rem;
}
.new-address li p {
	float: left;
	width: 2rem;
	line-height: 1rem;
	font-size: .4rem;
}
.new-address li input {
	height: 1rem;
	width: 6rem;
	line-height: 1rem;
	font-size: .4rem;
	vertical-align: middle;
	border: none;
	outline: none;
}
.address-c ul .clearfix {
	position: relative;
	padding: .4rem 0;
	padding-left: .5rem;
	border-bottom: 1px solid #f2f2f2;
}
.ch-ad {
	display: block;
	position: absolute;
	left: 0;
	top: 25%;
	width: .4rem;
	height: .4rem;
	margin-left: -.2rem;
	background: url(../img/icon/window_nosel.png) 0 0 no-repeat;
	background-size: 100% auto;
}
.active {
	background: url(../img/icon/window_sel.png) 0 0 no-repeat;
	background-size: 100% auto;
}
.men-s {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
}
.men-s p{
	float: left;
	width: 50%;
	height: 1rem;
	font-size: .4rem;
}
#men-name,#men-num {font-size: .36rem;}
.men-address {
	height: 1rem;
	font-size: .36rem;
}
.affirm {
	display: block;
	width: 100%;
	line-height: 1rem;
	background-color: #FA8D0C;
	font-size: .4rem;
	text-align: center;
	color: #fff;
}

.prompt-box p span {
    color: #3CFF00;
}
