.my-tree {
	position: relative;
	width: 10rem;
	height: 3.6rem;
	background-color: #48be43;
}
.tree-s {
	position: absolute;
	left: .5rem;
	top: .5rem;
	font-size: .4rem;
	color: #fff;
}
.my-tree a {
	position: absolute;
	right: .5rem;
	top: .5rem;
	font-size: .4rem;
	color: #fff;
	text-decoration: underline;
}
.tree {
	position: absolute;
	top: 60%;
	left: 50%;
	width: 8rem;
	line-height: 2rem;
	text-align: center;
	margin: -1rem 0 0 -4rem;
	font-size: 0.9rem;
	color: #fff;
}
.get-tree,.un_get-tree {
	width: 9rem;
	padding: 1.3rem .5rem;
	margin-bottom: 1px;
	background-color: #fff;
}
.my_cost {
	font-size: .4rem;
	line-height: 1rem;
	color: #808080;
	padding-bottom: .5rem;
}
.my_cost strong {
	color: #000;
}
.my_cost a {
	float: right;
	text-decoration: underline;
	color: #00A8FF;
}
.progress,.Un_progress {
	width: 100%;
	height: .2rem;
	background-color: #e5e5e5;
}
.pro-con,.Un_pro-con {
	height: .2rem;
	background-color: #48be43;
}