.content {
	padding-bottom: 1.2rem;
}
.con-show {
	width: 9.4rem;
	height: 1rem;
	padding: 1rem 0;
	margin: .5rem auto .5rem;
	background: url(../img/image/head-back.png) 0 0 no-repeat;
	background-size: 100%;
}
.con-show p {
	text-align: center;
	color: #fff;
	line-height: 1rem;
	font-size: .4rem;
}
.con-show p span {
	color: #FA8D0C;
}
.subs-order {
	width: 9.4rem;
	margin: 0 auto;
	border-bottom: 1px dotted #808080;
	padding: .3rem 0 1rem;
}
.subs-day {
	line-height: 1rem;
	color: #808080;
}
.subs-day .begin-day {
	float: left;
}
.subs-day span {
	float: right;
}
.subs-con {
	position: relative;
	padding: 1rem 0;
	border-radius: .1rem;
	background-color: #fff;
}
.news {
	position: absolute;
	left: 0;
	top: .15rem;
	background-color: #48be43;
	color: #fff;
	font-size: .4rem;
	padding: .1rem;
}
.due-time {
	position: relative;
	float: left;
	width: 3.8rem;
	height: 3.5rem;
	vertical-align: middle;
}
.time {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 2rem;
	height: 2.5rem;
	margin: -1.25rem -1rem;
	vertical-align: middle;
	text-align: center;

}
.time p {
	font-size: .4rem;
	line-height: .6rem;
}
.time #time_in {
	font-size: 1rem;
	line-height: 1.4rem;
}
.time img {
	width: 100%;
	height: auto;
}
.jindutiao {
	width: 100%;
	height: .4rem;
	background: #ccc;
}
.jindu {
	background-color: #48be43;
	width: 80%;
	height: .4rem;
}
.subs-infor {
	float: left;
	padding: 0 1rem;
	height: 3.5rem;
	border-left: 1px solid #ccc; 
}
.subs-infor ul {height: 3.5rem;}
.subs-infor ul li {
	font-size: .32rem;
	line-height: .5rem;
}
.subs-infor ul li p {
	color: #808080;
}
#combo,#combo_price,#combo_num,#combo_total,#original,#add_fluits,#finish_fluits {
	color: #000;
}
.renew {
	position: absolute;
	top: 50%;
	margin-top: -.55rem;
	display: block;
	width: 2rem;
	height: 1.1rem;
	border-radius: .1rem;
	background-color: #FA8D0C;
	line-height: 1.1rem;
	font-size: .4rem;
	color: #fff;
	vertical-align: middle;
	text-align: center;
}
.subs-news {
	padding-top: .42rem;
	color: #48be43;
	font-size: .32rem;
	line-height: .4rem;
}